 
 .heading{
    text-align: center;
}

#fact-container{
    margin: 0px 200px 20px 200px;
   
    font-size: x-large;
    border-style: ridge;
    border-radius: 10px;
    border-color: black;
    padding: 80px 30px 80px 30px;
    text-align: center;
    background-color: rgb(245, 241, 234);
    display: block;
    
    
} 

body{
  background-color: blanchedalmond;
    display: flex;
   
    flex-direction: column;
    justify-content: space-between;
}

 #fetch-button{
  
    width: 150px;
    font-size: 19px;
    display: block;
  margin: 0 auto;
  background-color: aquamarine;
  border-radius: 20px;
}

#remove-button{
    width: 150px;
    font-size: 19px;
    display: block;
  margin: 0 auto;
  background-color: rgb(216, 87, 87);
  border-radius: 20px;

  }

#fetch-button:hover{
    background-color: azure;
    
}
#remove-button:hover{
  background-color: azure;
  
}